<div class="container">
  <div class="tituloLogin">
    <h3 class="textLogin">Login</h3>
  </div>
  <div class="mb-3 quadroLogin">
    <div class="row">
      <div class="col-12">
        <a class="linkTextHeader" href="">Nāo tem conta? Cadastre-se</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label for="formGroupExampleInput" class="form-label paragrafoLogin">E-mail</label>
        <input type="email" class="form-control inputEmail" aria-label="email">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label for="formGroupExampleInput" class="form-label paragrafoLogin">Senha</label>
        <input type="text" class="form-control inputSenha" aria-label="Senha">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
        <a class="linkTextFooter" href="">Esqueci minha senha</a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
        <label class="loginstyles__CheckboxWrapper-sc-1evsto6-1 cnSKtO">
          <div class="pretty">
            <input type="checkbox" id="demo" name="demo">
            <div class="pretty-inner"><label for="demo"><span class="paragrafoLogin2">Permanecer conectado</span></label></div>
          </div>
        </label>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary buttomLogin" type="submit">Entrar</button>
    </div>
  </div>
</div>