<div class="container">
    <div class="row">
        <div class="tituloInvestir">
            <h5 class="textInvestir">Investidor - anjo</h5>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="quadroA">
                    <div>
                        <p class="primeiraTextPag"><strong>INVESTIMENTO ATIVOS</strong></p>
                    </div>
                    <div>
                        <span class="textoReal"><strong>0</strong></span>
                    </div>
                </div>
                <br>
                <div class="quadroA">
                    <div>
                        <p class="primeiraTextPag"><strong>VALOR ESTIMADO ATUAL</strong></p>
                    </div>
                    <div>
                        <span class="textoReal"><strong>R$ 0,00</strong></span>
                    </div>
                </div>
            </div>
        
            <div class="col-md">
                <div class="quadroA">
                    <div>
                        <p class="primeiraTextPag"><strong>TOTAL RECEBIDO</strong></p>
                    </div>
                    <div>
                        <span class="textoReal"><strong>R$ 0,00</strong></span>
                    </div>
                </div>
                <br>
                <div class="quadroA">
                    <div>
                        <p class="primeiraTextPag"><strong>TOTAL INVESTIDO</strong></p>
                    </div>
                    <div>
                        <span class="textoReal"><strong>R$ 0,00</strong></span>
                    </div>
                </div>
            </div>
        </div><br>

        <p class="col-12 textoSubtitulo"><strong>Distribucao da carteira de Projeto</strong></p>

        <div class="row quadrosBD">
            <div class="col-3 quadroB">
                <div>
                    <p class="segundaTextPag"><strong>0%</strong></p>
                </div>
                <div>
                    <p class="segundaTextPag"><strong>Imobiliária</strong></p>
                </div>
                <div>
                    <span class="segundaReal"><strong>R$ 0,00</strong></span>
                </div>
            </div>
            <div class="col-3 quadroB">
                <div>
                    <p class="segundaTextPag"><strong>0%</strong></p>
                </div>
                <div>
                    <p class="segundaTextPag"><strong>Energia</strong></p>
                </div>
                <div>
                    <span class="segundaReal"><strong>R$ 0,00</strong></span>
                </div>
            </div>
            <div class="col-3 quadroB">
                <div>
                    <p class="segundaTextPag"><strong>0%</strong></p>
                </div>
                <div>
                    <p class="segundaTextPag"><strong>Agronegócio</strong></p>
                </div>
                <div>
                    <span class="segundaReal"><strong>R$ 0,00</strong></span>
                </div>
            </div>
            <div class="col-1 quadroC">
                <p class="textoIgual">=</p>
            </div>
            <div class="col-2 quadroD">
                <div>
                    <p class="segundaTextPag"><strong>TIPOS DE INVESTIMENTOS</strong></p>
                </div>
                <div>
                    <span class="terceiraReal"><strong>R$ 0,00</strong></span>
                </div>
            </div>
        </div>
    </div>
</div>