<div class="container">
    <div class="texto">
        <h1 class="titutoText">Sobre Nós</h1>
        <p class="pagagrafoText">
            Olá, somos o Grupo 4. Nosso propósito é desenvolver tecnologias que ajudem as pessoas 
            a arrecadarem doações.
            Somos uma startup São Paulo que tem como parceiros estratégicos o ambiente digital tem 
            ampliado os formatos de doações e arrecadações de contribuições em geral, mostrando que 
            também é possível mudarmos o mundo para o melhor com mais agilidade, num simples clique 
            e de qualquer lugar.
            Nossa missão é ser a ponte perfeita entre a sua meta e os doadores, aumentando assim o 
            impacto de cada ação positiva e potencializando o alcance da sua mensagem.
            Nós apoiamos a sua causa e queremos te ajudar da melhor maneira possível!
        </p>
    </div>
</div>
